.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding-top: var(--header-height);
    /* Ensure content is not hidden behind fixed header */
    background-color: var(--color-bg);
}